*~
*.iml
*.sw[po]
*-old

.#*
.DS_Store
.history

/.prod_db_env
/.prod_env
/cert.pem
/key.pem
/TODO*.md
/tsconfig.tsbuildinfo

/cypress/screenshots/
/cypress/videos/
/dist/
/node_modules/

target/
tmp/
