apiVersion: v1
kind: Service
metadata:
  name: app-service
spec:
  type: ClusterIP
  selector:
    app: app
  ports:
    - port: 80          # The port hooked up to the Ingress
      targetPort: 3030  # The port used by NodeJS inside the container
      protocol: TCP
